@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lexend, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --primary: #00ffff;
  --primary-hover: #10eded;
  --secondary: #1b7ee1;
  --secondary-hover: #1a71c7;
  --background: #111a23;
  --background-hover: #1c2834;
  --text-color: #d6eafd;
  --text-secondary: #6391b0;
  --card-bg: #18212d;
  --card-hover: #1f2936;
  --border-color: #243246;
  --border-radius: 0.5rem;
}

html {
  font-size: 20px;
}

body {
  display: flex;
  background-color: var(--background);
  color: var(--text-color);
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  height: 80vh;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--primary);
    border-radius: var(--border-radius);
    padding: .5em;
    gap: .25em;

    &:hover {
    background-color: var(--background-hover);
  }
  }
}

#lateral-panel {
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding: 1rem;
  border-right: solid var(--border-color) .025rem;
  justify-content: space-between;

  h2 {
    display: flex;
    margin-bottom: 2rem;
    gap: .5rem;
    color: var(--primary);
  }

  > div p {
    font-weight: bold;
  }
}

.current {
  color: var(--background);
  background: var(--primary);
  pointer-events: none;
}

strong {
  color: var(--primary);
}

small {
  color: var(--text-secondary);
}

main {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: auto;
  height: 100vh;
  /*Esto se tiene que pasar al media query*/
  overflow-y: scroll;
  scrollbar-width: none;
}

main > div:first-of-type {
  display: flex;
  height: fit-content;
  gap: 3rem;
  margin-top: 2rem;
}

.dashboard-sections {
  border: solid .5px var(--border-color);
  border-radius: var(--border-radius);
  padding: 1rem;

  h3 {
    padding-bottom: 1rem;
  }
}

.dashboard-columns {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#dashboard-activities > article {
  display: flex;
  border-bottom: solid .025rem var(--border-color);
  padding: .5rem;
  gap: .5rem;
  border-radius: var(--border-radius);
  min-width: 20rem;

  &:last-of-type {
    border: none;
  }

  div:first-child {
    display: flex;
    min-height: 2.5rem;
    min-width: 2.5rem;
    border: solid .025rem var(--primary);
    border-radius: var(--border-radius);
    justify-content: center;
    align-items: center;
    color: var(--primary);
  }

  &:hover {
    background-color: var(--background-hover);
  }
}

.dashboard-activity-text {
  width: 90%;
}

#dashboard-califications div{
  display: flex;
  gap: 1.5rem;
  padding: .5rem;
}

#dashboard-califications article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid .025rem var(--border-color);
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  min-height: 12rem;
  width: 8rem;
  padding: .5rem;
  transition: transform 0.3s ease-in-out;

  p:first-child{
    text-align: center;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  p:nth-child(2) {
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }

  &:hover {
    background-color: var(--card-hover);
    transform: scale(1.1);
  }

  progress {
    width: 6rem;
    height: .5rem;
    background-color: transparent;
    border: solid .025rem var(--border-color);
    border-radius: 99999px;
    overflow: hidden;
    margin-bottom: 1rem;
    
    &::-webkit-progress-bar {
      background-color: transparent;
    }

    &::-webkit-progress-value {
      background-color: orange; /* Color del progreso */
      border-radius: var(--border-radius);
    }
  }
}

#dashboard-important > div {
  display: flex;
  flex-direction: column;
}

#dashboard-important article {
  display: flex;
  gap: 1rem;
  padding: .5rem;
  border-radius: var(--border-radius);
  border-bottom: solid .025rem var(--border-color);
  transition: transform .3s ease-in-out;

  div:first-of-type {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: var(--border-radius);
    text-align: center;
    padding: .2rem;
    min-height: 3rem;
    min-width: 3rem;
  }

  > div:first-of-type p:first-of-type {
    font-size: .8rem;
    font-weight: bold;
  }

  > div:first-of-type p:last-of-type {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &:hover {
    background-color: var(--background-hover);
  }
}

ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0;

  li {
    border-radius: 10px;
    text-align: right;
    padding-inline: .5em;
  }

  li:hover {
    background-color: var(--background-hover);
  }
}

.first-day {
  grid-column-start: 1;
}

.day-name {
  font-weight: bold;
  text-align: center;
  pointer-events: none;
  margin-bottom: 1em;
}

.search {
  height: 3em;
  width: fit-content;
  gap: 1em;
  border-bottom: solid .5px var(--border-color);
  border-radius: var(--border-radius);
  padding: .5em;
}

.search input {
  border: none;
  
  background-color: transparent;
  width: 90vh;
  position: relative;
  color: var(--text-color);
  font-size: 16px;
  outline: transparent;
}

button {
  display: flex;
  align-items: center;
  padding: .5em;
  gap: .5em;
  height: 3em;
  background-color: var(--primary);
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--primary-hover);
  }
}

main > div:nth-child(2) {
  padding-top: 0; 
}