*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --primary: #00ffff;
  --primary-hover: #09e7e7;
  --secondary: #141f2a;
  --background: #111a23;
  --text-color: #e1e1e1;
  --text-secondary: #8e9193;;
  --card-bg: #18212d;
  --card-hover: #1f2936;
  --border-color: #1d2939;
  --border-radius: 10px;
}

body {
  display: flex;
  background: var(--background);
  color: var(--text-color);
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  height: 80vh;

  a {
    text-decoration: none;
  }
}

a {
  display: flex;
  align-items: center;
  color: var(--primary);
  border-radius: var(--border-radius);
  padding: .5em;
  
  &:hover {
    background: var(--primary-hover);
  }
}

#lateral-panel {
  display: flex;
  flex-direction: column;
  width: 20em;
  padding: 2em;
  border-right: solid var(--border-color) .5px;
  justify-content: space-between;

  h2 {
    display: flex;
    padding-bottom: 2em;
    align-items: center;
    gap: .5em;
    color: var(--primary);
  }
}

.current {
  color: var(--background);
  background: var(--primary);
  pointer-events: none;
}

strong {
  color: var(--primary);
}

small {
  color: var(--text-secondary);
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 2em;
}

main > div {
  display: flex;
  height: fit-content;
  margin-top: 3em;
  gap: 3em;
}

section {
  display: flex;
  flex-direction: column;
  border: solid .5px var(--border-color);
  border-radius: var(--border-radius);
  padding: 1em;
  height: fit-content;
  min-width: fit-content;

  h3 {
    padding-bottom: 1em;
  }
}

#dashboard-califications > div {
  display: flex;
  justify-content: space-between;
}

.dashboard-columns {
  display: flex;
  flex-direction: column;
  gap: 3em;

  &:first-of-type {
    width: 50vw;
  }

  &:last-of-type {
    width: 20vw;
  }
}

#dashboard-activities > article {
  display: flex;
  border-bottom: solid .5px var(--border-color);
  padding: .5em;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius);
  min-width: 20em;

  &:last-of-type {
    border: none;
  }

  div:first-child {
    display: flex;
    min-height: 2.5em;
    min-width: 2.5em;
    border: solid .5px var(--primary);
    border-radius: var(--border-radius);
    justify-content: center;
    align-items: center;
    color: var(--primary);
  }

  &:hover {
    background: var(--secondary);
  }
}

.dashboard-activity-text {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#username-lateral-panel {
  font-weight: bold;
}

#dashboard-califications div{
  display: flex;
  justify-content: space-around;
  gap: 3em;
  padding: .5em;
}

#dashboard-califications article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
  border: solid .5px var(--border-color);
  background: var(--card-bg);
  border-radius: var(--border-radius);
  height: 10em;
  width: 100%;

  p:first-child{
    text-align: center;
    font-weight: bold;
    margin-bottom: .5em;
  }

  p:nth-child(2) {
    font-size: 24px;
    margin-bottom: .5em;
  }

  &:hover {
    background-color: var(--card-hover);
  }

  progress {
    width: 6em;
    height: .5em;
    background-color: transparent;
    border: solid .5px #e1e1e1;
    border-radius: 99999px;
    overflow: hidden;
    margin-bottom: 1em;
    
    &::-webkit-progress-bar {
      background-color: transparent;
    }

    &::-webkit-progress-value {
      background-color: var(--primary); /* Color del progreso */
      border-radius: 10px;
    }
  }
}

#dashboard-important > div {
  display: flex;
  flex-direction: column;
}

#dashboard-important article {
  display: flex;
  gap: 1em;
  padding: .5em;
  border-radius: var(--border-radius);
  border-bottom: solid .5px var(--border-color);

  div:first-of-type {
    background: var(--primary);
    opacity: 70%;
    color: var(--secondary);
    border-radius: var(--border-radius);
    text-align: center;
    padding: .2em;
    height: fit-content;
    width: 3.5em;
  }

  p:last-of-type {
    font-size: 20px;
    font-weight: bold;
  }

  &:hover {
    background-color: var(--secondary);

    div:first-of-type {
      opacity: 100%;
    }
  }
}

ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0;

  li {
    border-radius: 10px;
    text-align: right;
    padding-inline: .5em;
  }

  li:hover {
    background-color: var(--primary-hover);
    
  }
}

.first-day {
  grid-column-start: 1;
}

.day-name {
  font-weight: bold;
  text-align: center;
  pointer-events: none;
  margin-bottom: 1em;
}

.search {
  height: 3em;
  width: fit-content;
  gap: 1em;
  border-bottom: solid .5px var(--border-color);
  border-radius: var(--border-radius);
  padding: .5em;
}

.search input {
  border: none;
  
  background-color: transparent;
  width: 90vh;
  position: relative;
  color: var(--text-color);
  font-size: 16px;
  outline: transparent;
}

button {
  display: flex;
  align-items: center;
  padding: .5em;
  gap: .5em;
  height: 3em;
  background-color: var(--primary);
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--primary-hover);
  }
}

main > div:nth-child(2) {
  padding-top: 0; 
}